<h1>Detection List</h1>
<style type="text/css" media="all">
   td img {
        width: 300px;
        height: 300px;
    } 
</style>

<table class="table">
<thead>
<tr>
<th>ID</th>
<th>Score</th>
<th>Component</th>
<th>Name</th>
</tr>
</thead>
<tbody>
{{#each items}}
<tr>
<td><img src="/image/{{Image._id}}" /></td>
<td>{{score}}</td>
<td>{{component}}</td>
<td>{{Image.Person.name}}</td>
</tr>
{{/each}}
</tbody>
</table>
